/* Utilities */
.btn-secondary {
   color: #000;
   background-color: #b9d5f9;
   border-color: #b9d5f9;
}
.btn-secondary:hover,
.btn-secondary:focus {
   color: #000;
   background-color: #b9c5f9;
   border-color: #b9c5f9;
}
.btn-secondary:focus {
   box-shadow: 0 0 0 0.25rem rgb(185, 213, 249);
}

.done {
   background-color: rgba(0, 128, 0, 0.1);
}

/* Input new task */
#input-new-task input {
   border-bottom-left-radius: 0;
}
#input-new-task > .btn {
   border-bottom-right-radius: 0;
}

/* Button container */
#button-container .btn {
   border-radius: 0;
}

/* LIST */
li > * {
   cursor: pointer;
}
li > i:hover {
   color: red;
}
li .fa-check-square {
   color: green;
}
.list-group-item:first-child {
   border-top-left-radius: 0;
   border-top-right-radius: 0;
}

h1 > i {
   animation: bouncing 1s infinite;
}

@keyframes bouncing {
   0% {
      transform: translateY(-45px);
   }

   50% {
      transform: translateY(0px);
   }

   100% {
      transform: translateY(-45px);
   }
}
